/*colors*/
$basic-collor: #fff;
$main-collor: #918f92;
$font-collor: #27252b;
$btn-collor: #7f6edd;
$hover-collor: #6d5ad8;
/*fonts*/
$main-font: "Baloo Tamma 2", cursive;
/*values*/
$base-padding: 0.3em;
